.modal {
  z-index: 100;
  position: fixed;
  top: 30vh;
  /* left: 0; */
  width: 70%;
  max-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.modal__content {
  width: 100%;
  border: 1px solid rgb(219, 217, 217, 0.4);
}

.modal__footer {
  padding: 1rem 0.5rem;
}

@media (max-width: 1000px) {
  .modal {
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .modal {
    left: 0;
    /* top: 30vh; */
    width: 100vw;
    flex-direction: column;
    margin-top: 6rem;

    /* overflow: scroll; */
  }
}

.modal-enter {
  transform: translateX(-100rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.modal-exit {
  transform: translateX(10rem);
  opacity: 1;
}

.modal-exit-active {
  transform: translateX(-100rem);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
