.auth {
  display: flex;
  justify-content: center;
  margin: 15rem 0;
}

.auth-form__signin {
  display: flex;
  justify-content: space-between;
}

.auth-form__signin__input {
  width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.auth-form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  min-height: 40rem;
  width: 52rem;
  display: flex;
  flex-direction: column;
}

.auth-form__input {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.auth-form__input label {
  font-size: 1.8rem;
  color: var(--primary-dark-2);
  font-weight: 500;
}
.auth-form__input input {
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 8px;
  padding: 0 2rem;
}

/* .auth-form__input input :focus{
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0 2rem;
} */

.auth-form__submit {
  margin: 0 9rem;
  height: 4rem;
  border: 0;
  font-size: 1.8rem;
  outline: none;
  border-radius: 20px;
  background-color: tomato;
  color: white;
  margin-top: 3rem;
}

.auth p {
  font-size: 2rem;
  padding-top: 4rem;
}

.signupSwitch {
  color: tomato;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .auth {
    margin-top: 10rem;
  }
  .auth-form {
    align-items: center;
  }

  .auth-form__signin {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .auth-form__signin__input {
    padding-left: 0;
    align-items: center;
  }

  .auth-form__input {
    width: 80%;
  }

  .auth-form__submit {
    width: 15rem;
  }
}
