.userpage__header {
  width: 95rem;
  color: var(--text-color-1);
  display: flex;
  padding-bottom: 10rem;
}

.userpage__header-avatar {
  /* padding-left: 2rem; */
  /* width: 33%; */
  flex: 1;
}
.userpage__header-content {
  /* padding-left: 2rem; */
  /* width: 66%; */
  flex: 2;
}
.userpage__header-content-user {
  height: 4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 300;
}
.userpage__header-content-user button {
  margin: 0 2rem;
  padding: 0 2rem;
  height: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}
.userpage__header-content-user button:hover {
  transform: scale(1.1);
}

.userpage__header-content-numbers {
  height: 2rem;
  margin-bottom: 2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
}

.userpage__header-content-numbers p {
  padding-right: 4rem;
}

.userpage__header-content-numbers span {
  font-weight: 600;
}
.userpage__header-content-description {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.userpage__header-content-description p {
  font-weight: 700;
}
.userpage__header-content-description p:last-child {
  font-weight: 400;
}
