.userHeader {
  max-width: 95rem;
  color: var(--text-color-1);
  display: flex;
  padding-bottom: 5rem;
}

.userHeader__avatar {
  flex: 1;
}
.userHeader__content {
  flex: 2;
}
.content__user {
  height: 4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 300;
}
.content__user button {
  margin: 0 2rem;
  padding: 0 2rem;
  height: 4rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}
.content__user button:hover {
  transform: scale(1.1);
}

.content__numbers {
  height: 2rem;
  margin-bottom: 2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
}

.content__numbers p {
  padding-right: 4rem;
}

.content__numbers span {
  font-weight: 600;
}
.content__description {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.content__description p {
  font-weight: 700;
}
.content__description p:last-child {
  font-weight: 400;
}

@media only screen and (max-width: 700px) {
  .userHeader {
    max-width: 95rem;
    color: var(--text-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 10rem; */
  }

  .content__user {
    height: 9rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.8rem;
    font-weight: 300;
  }

  .content__numbers {
    height: 2rem;
    margin-bottom: 2rem;
    display: flex;
    /* justify-content: space-evenly; */
    font-size: 1.6rem;
    font-weight: 400;
  }

  .content__numbers p {
    padding: 0 2rem;
  }
}
