.image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-upload__preview-round {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid rgba(255, 99, 71, 0.5);
  overflow: hidden;
}

.image-upload__preview-round img {
  display: block;
  border-radius: 50%;
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}
.image-upload__preview-square {
  width: 50rem;
  height: 50rem;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.image-upload__preview-square img {
  display: block;
  /* border-radius: 50%; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
}

.button-pick {
  /* margin: 0 9rem; */
  height: 4rem;
  border: 0;
  padding: 0 1rem;
  font-size: 1.8rem;
  outline: none;
  border-radius: 20px;
  background-color: tomato;
  color: white;
}
