.userpage {
  width: 100%;
  width: 100%;
  /* background-color: tomato; */
  padding-top: 3rem;
  padding-bottom: 10rem;
  /* margin: 0 20rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: "Open-sans", sans-serif;
}

.userpage__header {
  width: 95rem;

  display: flex;
  padding-bottom: 10rem;
}

.avatar {
  width: 30rem;
  display: flex;
  justify-content: center;
}

.avatar-big {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.avatar-small {
  width: 6rem;
  height: 6rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-big img,
.avatar-small img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgba(255, 99, 71, 0.5);
}

.userpage__header-content {
  padding-left: 2rem;
}
.userpage__header-content-user {
  height: 4rem;
  margin-bottom: 2rem;
  display: flex;
  font-size: 2.8rem;
  font-weight: 300;
}
.userpage__header-content-user button {
  margin: 0 2rem;
  padding: 0 1rem;
  background-color: white;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.userpage__header-content-numbers {
  height: 2rem;
  margin-bottom: 2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
}

.userpage__header-content-numbers p {
  padding-right: 4rem;
}

.userpage__header-content-numbers span {
  font-weight: 600;
}
.userpage__header-content-description {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.userpage__header-content-description p {
  font-weight: 700;
}
.userpage__header-content-description p:last-child {
  font-weight: 400;
}

.userpage__grid {
  width: 95rem;
  /* min-height: 100%; */
  /* background-color: lightblue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: 1fr; */
  grid-gap: 2rem;
}

.userpage__grid-post {
  width: 100%;
  height: calc(95rem / 3 - 2 * 2rem);
  position: relative;
}

.userpage__grid-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.post-overlay {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  /* opacity: 0; */
  font-size: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.post-overlay-content {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  opacity: 0;
}
.post-overlay-content p {
  padding-right: 1rem;
}

.post-overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.post-overlay:hover > .post-overlay-content {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .userpage__grid {
    width: 100vw;
    grid-gap: 0.5rem;
  }

  .userpage__header {
    width: 100%;
  }
  .userpage__grid-post {
    width: 100%;
    height: calc(100vw / 3 - 2 * 0.5rem);
    position: relative;
  }
  .post-overlay {
    display: none;
  }
}
