.navigation {
  width: 35%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.navigation_welcome {
  font-size: 1.7rem;
}

.navigation__logout {
  width: 3.5rem;
  border: 0;
  outline: none;
  color: var(--text-color-1);
  background-color: transparent;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.navigation > a,
.navigation > a:visited {
  width: 3.5rem;
  border: 0;
  outline: none;
  color: var(--text-color-1);
  text-decoration: none;
  background-color: transparent;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation > a:hover,
.navigation > a:active,
.navigation > a.active,
.navigation__logout:hover {
  transform: scale(1.2);
  color: var(--color-primary);
}

.tooltip {
  visibility: hidden;
  background-color: var(--text-color-1);
  color: var(--text-color-2);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation > a:hover .tooltip,
.navigation > a:active .tooltip,
.navigation__logout:hover .tooltip {
  visibility: visible;
}

.navigation__search {
  display: none !important;
}

@media only screen and (max-width: 1100px) {
  .navigation {
    width: 60%;
    display: flex;
    /* justify-content: space-evenly; */
    align-content: center;
  }

  .navigation__search {
    display: block;
  }
  .navigation__explore {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2rem 2rem 3rem 2rem;
    background-color: var(--bg-color-1);
    border-top: 1px solid var(--light-border);

    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  /* .navigation__logout {
    font-size: 0.7rem;
  } */

  .navigation a,
  .navigation a:visited {
    background-color: transparent;
    /* font-size: 0.9rem; */
    transition: all 0.3s ease-in-out;
  }

  .navigation a:hover,
  .navigation a:active,
  .navigation a.active {
    transform: scale(1.2);
  }

  .navigation__search {
    display: block;
  }

  .navigation__explore {
    display: none;
  }

  .navigation__auth {
    display: none;
  }

  .tooltip {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .navigation {
    width: 100%;
  }
}
