.notification {
  position: relative;
  display: flex;
}

.notification__button {
  position: relative;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 0.6rem;
  color: var(--text-color-1);
  transition: all 0.2s ease-in-out;
}

.notification__button:hover,
.notification__button:active,
.notification__button.active {
  transform: scale(1.4);
  color: var(--color-primary);
}

.notification__button:hover .tooltip,
.notification__button:active .tooltip {
  visibility: visible;
}
.notification__badge {
  min-width: 1.6rem;
  height: 1.6rem;
  font-size: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: -0.8rem;
  right: 0;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.notifications__container {
  height: 25rem;
  width: 40rem;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color-1);
  border: 1px solid var(--color-primary-dark-1);
  color: var(--text-color-1);
  border-radius: 8px;
  font-size: 1.6rem;
  padding: 1rem;
  overflow-y: scroll;
}

.notifications__container ul {
  list-style: none;
}

.notifications__container-enter {
  transform: translate(-50%, -100%);
  opacity: 0;
}

.notifications__container-enter-active {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 200ms ease-in;
}

.notifications__container-exit {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.notifications__container-exit-active {
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: all 200ms ease-out;
}

.notifications__list {
  /* display: flex; */
}

.notifications__item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 1.5rem 0;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--text-color-1);
}

.notification__image {
  width: 4rem;
  height: 4rem;
  background-color: blue;
}

.notifications__item a,
.notifications__item a:visited,
.notifications__item a:active,
.notifications__item a.active {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  color: var(--text-color-1);
}

.notification__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.notification__text {
  width: 100%;
  margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .notifications__container {
    height: 10rem;
    width: 100vw;
    position: absolute;
    bottom: 8rem;
    left: 0;
    right: 0;

    top: auto;
    /* transform: translate(50%, 50%); */
    /* background-color: var(--bg-color-1); */
    /* border: 1px solid var(--color-primary-dark-1); */
    /* color: white; */
    /* border-radius: 8px; */
  }

  .notifications__container-enter {
    transform: translate(-50%, -100%);
    opacity: 0;
  }

  .notifications__container-enter-active {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 200ms ease-in;
  }

  .notifications__container-exit {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  .notifications__container-exit-active {
    transform: translate(-50%, -100%);
    opacity: 0;
    transition: all 200ms ease-out;
  }
}
