/* .light-theme {
  --color-primary: rgb(94, 170, 224);
  --color-primary-dark-1: rgb(64, 116, 153);
  --color-primary-dark-2: rgb(43, 78, 104);

  --text-color-1: black;
  --text-color-2: white;

  --bg-main:
  --bg-color-1: white;
  --bg-color-transparent-1: rgba(255, 255, 255, 0.8);
  --bg-color-transparent-2: rgba(64, 116, 153, 0.8);
}
.dark-theme {
  --color-primary: rgb(94, 170, 224);
  --color-primary-dark-1: rgb(64, 116, 153);
  --color-primary-dark-2: rgb(43, 78, 104);

  --text-color-1: black;
  --text-color-2: white;

  --bg-color-1: black;
  --bg-color-transparent-1: rgba(0, 0, 0, 0.8);
  --bg-color-transparent-2: rgba(64, 116, 153, 0.8);
} */
